* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FF69B4;
  height: 15vh;
  color: #E4EEF1;
}
header section {
  display: flex;
  align-items: center;
}
header nav {
  width: 40%;
}
header nav ul {
  display: flex;
  justify-content: space-around;
}
header nav ul a {
  color: #E4EEF1;
  font-size: 28px;
}

.sessaoAlerta {
  height: 65vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FFD9EC;
}
.sessaoAlerta p {
  width: 40%;
  font-size: 25px;
}

.sessaoCorrida {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #FF69B4;
  height: 50vh;
}
.sessaoCorrida p {
  width: 50%;
  font-size: 25px;
  color: #E4EEF1;
}

#section3 {
  background-color: #FFD9EC;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
#section3 img {
  max-width: 35%;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hamburguer {
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}
.hamburguer img {
  width: 80px;
  height: 90px;
  transition: all 0.3s;
  align-items: flex-start;
  margin-top: 0.5rem;
  display: none;
}
.hamburguer.open span:nth-child(1) {
  transform: rotate(45deg) translateY(5px);
}
.hamburguer.open span:nth-child(2) {
  opacity: 0;
}
.hamburguer.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(-5px);
}

.menu-items {
  display: flex;
  gap: 20px;
}
.menu-items a {
  color: #ebdbed;
  font-size: 20px;
  text-decoration: none;
}
.menu-items.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.311);
  padding: 10px;
}

footer {
  background-color: #FF69B4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: center;
    height: 20vh;
    align-items: center;
  }
  header .logo {
    justify-content: center;
    align-items: center;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    justify-content: space-evenly;
  }
  header nav ul a {
    font-size: 20px;
  }
  .hamburguer {
    flex-direction: column;
    cursor: pointer;
    display: flex;
    margin-bottom: 95%;
  }
  .hamburguer img {
    width: 80px;
    height: 90px;
    transition: all 0.3s;
    display: flex;
    margin-bottom: 90%;
  }
  .menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 85%;
    cursor: pointer;
  }
  .menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
  }
  .menu-items {
    display: none;
    width: 60%;
    flex-direction: column;
    gap: 10px;
    left: 0.1%;
    margin-top: 8%;
  }
  .menu-items a {
    color: #a324b4;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
  }
  .sessaoAlerta {
    height: 100%;
    flex-direction: column-reverse;
  }
  .sessaoAlerta p {
    width: 95%;
    font-size: 25px;
    text-align: center;
  }
  .sessaoCorrida {
    height: 100%;
    flex-direction: column;
  }
  .sessaoCorrida p {
    width: 95%;
    font-size: 25px;
    text-align: center;
  }
  #section3 {
    flex-wrap: nowrap;
    height: 99vh;
  }
  #section3 img {
    max-width: 40%;
  }
  footer {
    flex-direction: column-reverse;
  }
}
@media (max-width: 500px) {
  header {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sessaoAlerta {
    height: 100%;
  }
  .sessaoCorrida {
    height: 100vh;
  }
  #section3 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  #section3 img {
    height: 40%;
    max-width: 45%;
  }
}/*# sourceMappingURL=style.css.map */